body{
    font-family:'Fredoka One',cursive;
    font-size: 80%;
	background-image:url('img/rawpixel-557126-unsplash.jpg'); 
	margin:0px;
    border:0px;
    padding: 0px;
    width: 100%; 
	height: 100%;
}

.header {
    text-align: center;
    color: white;
    width:100%;
    position:relative;
    padding-bottom:58.25%; 
    height: 0;
}

/* Column container */
.header video{  
        top:0;
        left: 0;
        width:100%; 
        height:100%; 
        object-fit: fill;
        right:0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        z-index: -99;
        filter: grayscale(0%);
}
.head01{

}

.flex-container {
  display: flex;
  flex-flow: row wrap;
justify-content: center;
}

.flex-container > div {
    text-align: center;
  width: auto;
  margin: 10px;
  line-height: 160px;
  font-size: 50px;
}
.flex-container > span {
    text-align:left;
    color: rgb(0, 224, 220);
    width: 70%;
    margin: 10px;
    line-height: 30px;
    font-size: 30px;
}
.flex-container > span>span{
    color: #00b3b3;
    width: 70%;
    margin: 10px;
    line-height: 10px;
    font-size: 20px;
}
.column{
      text-align: center;
      display: flex;
      flex-direction: column;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    padding: 20px;
}
.main {
    flex: 70%;
    padding: 20px;
}


.article{
    font-family:'Fredoka One', cursive;; 
    margin: 5px;
    background-color: powderblue;
    padding: 25px;
    color: white;
   }
.centervedio{
	display: block;
	border:none;
	margin:auto;
	width:720px;
	height:480px;
}
.frame1{
    color: #00b3b3;
    width: 70%;
    margin: 10px;
    line-height: 25px;
    font-size: 20px;
}

.bigimg{
    width: 60%;
    height:60%;
    transition: 1s;
    border-radius: 8px;
    animation-name: blur; 
    animation-duration: 3s; 
    animation-iteration-count: 1; 

}
.bigimg:hover{
    opacity: 1;
    width: 80%;
    height:80%;
    border-radius: 8px
}
@keyframes blur{
    0%   {-webkit-filter: blur(20px);filter: blur(20px);}
    100% {}
}
.smallimg{
    width: 60%;
    height:60%;
    transition: 1s;
    border-radius: 14px;
    animation-name: blur; 
    animation-duration: 3s; 
    animation-iteration-count: 1; 

}
.smallimg:hover{
    opacity: 1;
    width: 80%;
    height:80%;
    border-radius: 14px;
}

@keyframes example {
    0%   {}
    25%  {transform: rotate(40deg);}
    50%  { color:lightblue; 
          transform: rotate(-40deg);}
    75%  {}
    100% {color:rgb(0, 224, 220);}
}
#shake{
    color: rgb(0, 224, 220);
    animation-name: example; 
    animation-duration: 2s; 
    animation-iteration-count: 1; 
}

#a01:link {
    text-align: left;
    color: white;
    background-color: transparent; 
    transition: 1s;
  }

#a01:visited {

}

#a01:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

#a01:active {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

.d1{
    border: 5px solid powderblue;
    padding: 30px;
	color: #00b3b3;

}


p{  
    padding: 20px;
    border-radius: 8px;
	color: #00b3b3;
}


pre{ background-color: powderblue;
	 padding: 25px;"
 	 color: white;

}

img{
	border:0px;
	width:80%;
	height:80%;
}
.logo{
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: 0.5s;
    border-radius:50px;
    display: flex;
    justify-content: center;
}
.logo:hover{
    background-color:rgba(255,255,255,50%);
}
ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    background-color:#00b3b3;
    transition: 1s;
    border-radius: 4px
}

#li01{
    margin: auto;
    float: left;
    transition: 1s;
}
#li01.active{
    background-color: #002633;
}
#li02{
    margin: auto;
	display:none;
	font-size:80%;
	background-color: #00b3b3;
    transition: 1s;
}

#li01:hover #li02{
    transition:1s;
    display:block;

}
#li03{
    border-radius: 4px;
    margin:auto;
    border:20px;
    padding-top: 5px;
    color:white;
    display: flex;
    justify-content: center;
    background-color: #00b3b3;
}



.lia{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    border:10px;
    text-decoration: none;
    transition: 1s;
}

.lia:hover {
    background-color: #002633;
}

address{

}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
